[2017-02-03 01:23] reptalex opened #8 "bigglm does not work for X~Data with family=binomial(link='logit')"
WTF?!

[2017-04-21 17:34] mortonjt opened #9 "conda recipe for phylofactor"
It would be awesome if there could be a conda recipe on bioconda for phylofactor.
https://github.com/bioconda/bioconda-recipes

It'll make installation super easy.

[2017-04-21 18:05] reptalex commented on #9
I'm not sure how to do that - any pointers?

On Fri, Apr 21, 2017 at 11:34 AM, Jamie Morton <notifications@github.com>
wrote:

[2017-04-21 18:08] mortonjt commented on #9
We'd need to setup a [conda build](https://conda.io/docs/building/recipe.html)
It'll boil down to creating a `build.sh` and a `meta.yaml` file.   We've put together an entire repository of recipes [here](https://github.com/biocore/conda-recipes).

It just makes it really easy to install packages with a single command.  Personally, I find this the easiest way to install R packages if they have a co

[2017-12-28 17:20] dncrwlye opened #10 "Null Simulations for GPF"
that would be sweet!

[2018-01-06 10:53] nick-youngblut opened #11 "package release on CRAN/bioconductor"
As far as I can tell, `phylofactor` is not currently available on CRAN or bioconductor. This lack of availability of `phylofactor` from these standard package repositories makes it difficult to install `phylofactor` (eg., via CRAN or anaconda) and integrate it into pipelines and reproducible research environments. Do you have plans to release `phylofactor` on CRAN or bioconductor anytime soon?

[2018-01-06 15:03] reptalex commented on #11
I do. Unfortunately, the method has been in further development beyond compositional data analysis, and consequently, to avoid the challenges of back-compatibility, I’ve been keeping it in flux on GitHub.

The readme on the github page shows how to install the bioconductor dependencies & the R package - does that not work for you?

Thanks for the email. Hope we can get this working for ya!
-Alex

[2018-01-06 15:09] nick-youngblut commented on #11
Thanks for the quick response! The main challenge with `devtools::install_github` is that there's no way (that I know of) to create a conda package from the GitHub repository. `conda skeleton cran` works quite well for CRAN packages (I'm not sure about bioconductor). My lab uses conda for creating/managing reproducible data analysis environments (we can't use Docker for technical reasons), so if w

[2018-01-06 15:15] reptalex commented on #11
Hmmm... that sounds like a bit of a snag! Unfortunately, I’m pretty inexperienced at coding (was mainly a mathematician before learning R for this package), so I doubt I could figure out how to make a Vonda package from this any better than you can.

However, I’ll try to expedite the process of submitting this package CRAN.

Thanks again for your comment - if there’s anything else I can do to help

[2018-01-08 11:39] nick-youngblut commented on #11
I asked `conda` developers about using `conda skeleton cran` directly on GitHub repos, and it's possible, but the repo has to include at least 1 release tag (see [this issue](https://github.com/conda/conda/issues/6674#issuecomment-355814072)). Could make a release tag for `phylofactor`? It would be much appreciated!

[2018-01-08 13:54] reptalex commented on #11
I can definitely try! I read the thread and couldn’t find the link illustrating a proper DESCRIPTION format for this (just that it had to be in the right format). If you happen to find one, please send it my way! In the meantime, I’ll google away and see if I can fix this.

Sent from miPhone

[2018-01-08 13:56] nick-youngblut commented on #11
Great! As far as I can tell, the DESCRIPTION for phylofactor looks good. Maybe just the release tag is all that’s needed???

[2018-01-08 14:28] reptalex commented on #11
Is that a line saying:

release: 0.0.1

or something like that?

On Mon, Jan 8, 2018 at 6:56 AM, Nick Youngblut <notifications@github.com>
wrote:

[2018-01-08 14:39] nick-youngblut commented on #11
I actually don't have a lot of experience with release tags myself, but I think you can just follow the [GitHub documentation](https://help.github.com/articles/creating-releases/)

[2018-01-08 14:46] reptalex commented on #11
Thanks for that link - I just published a release. Let me know if this
hasn't resolved the issue.

On Mon, Jan 8, 2018 at 7:39 AM, Nick Youngblut <notifications@github.com>
wrote:

[2018-01-08 17:47] #8 closed

[2018-01-10 01:12] reptalex commented on #10
pf.nullsim has been discontinued for the time being to prevent poorly placed trust. A new version will be uploaded which requires users to input functions, randomizeData(pf) and extractOutput(pf) to more explicitly randomize their data given a phylofactor object and define the output they desire from a null simulation.

Stay tuned!

[2018-05-22 17:27] johnchase commented on #9
@mortonjt Have you installed PhyloFactor on OSX through Conda? I realize there is probably not a recipe out there, but I'm wondering if you have any insight to getting this installed on OSX, I have so far been unsuccessful, though it may very well be an issue unique to my environments

I should also mention that the issue I am running into is with the R package `maps` and nothing to do with PhyloF

[2018-07-24 20:25] tanaes opened #12 "Display of PhyloFactor summary object fails when computed with `output.signal=FALSE`"
It looks like this is due to a line that expects a 'signal' column to be present:

[code]

[2018-07-24 20:40] reptalex commented on #12
Fixed - thanks for finding & pointing out this bug!

[2018-07-24 20:42] #12 closed

[2018-07-24 22:52] tanaes opened #13 "cast taxonomies to character or warn?"
pf.taxa requires the taxonomy column of taxonomies to be a character vector, but R loves to represent things as factors.

If you try and run pf.taxa with a factor, you get this error:

[code]

It would be nice to have a more explicit test to warn (or coerce).

[2018-07-25 16:01] reptalex commented on #13
Hi Jon!

I can't reproduce this error by making a taxonomy (the first, second, or both columns) into a factor, making me think something else is going on. The error occurs in the function `uniqueTaxa` after finding out which taxonomic groups are unique to a given factor.

Is it possible you have some null entries or entries that are not semicolon-delimited in your taxonomy?

Try to run the followi

[2018-07-25 16:14] tanaes commented on #13
Yup, there are 'Unassigned' entries. I'll see if I can reproduce with a
small ad hoc example.

On Wed, Jul 25, 2018 at 9:01 AM Alex Washburne <notifications@github.com>
wrote:

[2018-07-25 17:14] reptalex commented on #13
Gotcha - I was able to reproduce that. If the taxonomy is a factor and one of your groups was uniquely defined as only "Unassigned" without any semicolons, the error occurs.

I've just pushed a change that should fix it without introducing bugs elsewhere.

Thanks for pointing this out!

[2018-07-25 17:20] tanaes commented on #13
Amazing! I was trying to reconstruct and failed. Glad you were able to track it down. :) I'll keep things coming as I discover!

[2018-07-25 17:20] #13 closed

[2018-10-16 22:01] gvdr opened #14 "FTmicrobiome$PF$choice not existing"
When I try to follow the tutorial
[code]
produces the error `Error in if (PF$choice == "var") { : argument is of length zero`. I think it is because `PF` does not have `choice`.

[2018-10-16 22:05] reptalex commented on #14
Gotcha - thanks for catching that. The old phylofactor objects didn't record the choices ('var','F','max.var') which are used in summary functions.

I've uploaded new phylofactor objects which should work - reinstalling the package should make the tutorial flow smoothly.

[2018-11-28 14:08] SilasK opened #15 "Raw data input to pylofactor"
Hey @reptalex

I started to experiment with your package, I really like it.
I wanted to ask if it is necessary to add the relative abundant data into PhyloFactor (data that sums to 1).  Because you anyway use a log transformation.

 As I understand [Microbiome Datasets Are Compositional: And This Is Not Optional](https://www.frontiersin.org/articles/10.3389/fmicb.2017.02224), centic log transforma

[2018-11-28 19:15] reptalex commented on #15
Hi Silas!

Great questions, and I'm glad you're enjoying the package!

First, you do not have to add relative abundance data into PhyloFactor. In fact, you can modify the input `transform.fcn=I` if you wish to analyze data in standard Euclidean space (i.e. without log-transformed data; the default is `transform.fcn=log`).

If you use the default log-transform and input data with zeros, there's a b

[2018-11-28 19:22] reptalex commented on #15
P.P.S. I want to doubly emphasize that the zero-replacement of 0.65 is COMPLETELY ARBITRARY - as arbitrary as significance values of P=0.05; someone did it once years ago and everyone has used it since because conventions help us bypass battles over arbitrary yet consequential parameters.

I personally think that assumptions about distributions (e..g Poisson, Negative Binomial) are equally arbitra

[2018-11-30 14:37] SilasK commented on #15
I think this is the most comprehensive message I got fro a github issue. Thank you very much.

So CLT is a special version of ILR transformation.
So can I simpli input the raw counts and they are transormed by the ILR ? Or do I need to use ILR before and `transform.fcn=I` ?

[2018-11-30 15:35] reptalex commented on #15
The CLR data are as linearly dependent as relative abundance data - with D species and D-1 degrees of freedom (in a relative abundance vector) due to compositionality, you'll have D CLR coordinates with each coordinate corresponding to a species/OTU and the data still only have D-1 degrees of freedom. The ILR transform maxes out at D-1 coordinates with each coordinate usually corresponding to a no

[2018-12-17 17:42] reptalex commented on #9
@johnchase correct me if I'm wrong, but I believe the current package (thanks to removing a few dependencies) can be installed on OSX through Conda, no?

[2018-12-17 17:42] #9 closed

[2018-12-17 17:45] reptalex commented on #10
Update on null simulations - for the time being, researchers are going to have to design their own null simulations, much like one designs null simulations for multiple regression. Since in some scenarios researchers may want to model collinearity, some latent structure in canonical parameters in null simulations, and a myriad of other effects, the space is too complicated to code up in a `pf.null

[2018-12-17 17:45] #10 closed

[2018-12-17 17:52] reptalex commented on #11
No plans to make an official CRAN release in the near future - the S3 and back-compatibility requirements for CRAN releases make CRAN submission an unprofitable effort given this method is still in active development (e.g. the summary(), plot() and print() functions are evolving as we better understand what to summarize, plot and print; the underlying architecture of phylofactorization may change

[2018-12-17 17:52] #11 closed

[2018-12-17 17:53] #14 closed

[2018-12-17 17:53] #15 closed

[2018-12-17 18:52] johnchase commented on #9
@reptalex phylofactor is able to be installed within a conda environment and work with other packages that have been installed in that environment, however I don't believe that there is a conda recipe for phylofactor out there. This would be installing phylofactor with conda along the lines of:

[code]

[2018-12-18 02:46] reptalex commented on #9
Gotcha - thanks @johnchase for the heads up and clarification! I won't have the bandwidth to do that solo in the near future, but I'm all ears in case there's an easy way to do that.

[2019-01-18 10:40] SilasK opened #16 "Extract OTUs for each factor"
Hey @reptalex,

I continue to try out phylofactor for 16S data. I build a tree by aligning the sequences for each OTU.

I run phlofactor on the raw counts, which gives me a number of interesting factors.
I would now find out wihch OTUs belong to which factor (smaller group, Group1?).

How can I extract which subtree are selected by pylofactor and wihc OTUs are on that subtree?

[2019-01-18 14:42] SilasK commented on #16
Ok found it
pf.groupsTospecies

[2019-01-18 14:42] #16 closed

[2019-01-18 15:36] reptalex commented on #16
Two other tools at your disposal are the pf.taxa(pf,taxonomy,factor) and summary(pf,taxonomy,factor) functions.

Make your taxonomy a data frame with the first column being OTUs found in the tree and the second column being semicolon delimited taxonomy (e.g. "k_Bacteria; p_Firmicutes; ...") and pf.taxa will output the shortest unique taxonomic prefixes summarizing the species in the group. summary

[2019-01-18 17:45] SilasK commented on #16
Great, thank you!
I'm now using now a formula ~Treatment + Source. Is there a way to see
which factor is significantly different for Treatment or for Source? Or
should I run summary.phylofactor and then do a secondary analysis?

[2019-01-18 17:54] reptalex commented on #16
I'm assuming you mean frmla = Data~Treatment+Source, yeah?

Check out pf$models - you can apply functions over those, such as:

lapply(pf$models,summary) %>% lapply(getElement,'coefficients') %>% ...

here "..." can be a final sapply to extract t-values or z-values (whichever it is).

You can also look into the package "relaimpo" and sapply some relative importance function on the glms. This is wh

[2019-01-18 17:57] reptalex commented on #16
When controlling for "source", beware of the potential for extremely different communities to have extremely different effects due to compositional funkiness. For example, maybe in Source 1, there exists a paraphyletic remainder with no species sensitive to treatment, whereas in Source 2 there are large, new lineages which are sensitive, thereby impacting your ability to find a common treatment si

[2019-04-05 20:35] mikemc opened #17 "Problem with example code for pf.heatmap() using predict()"
Thanks for this very useful package. In experimenting I noticed that the documentation for `pf.heatmap()` gives the example
[code]
But running this example code shows all factors on the heatmap. The problem seems to be that `predict()` wants `factor = max_factor` (as described in it's documentation), rather than `factors = list_of_factors`. This works as expected:
[code]

[2019-04-05 20:41] reptalex commented on #17
Thanks for finding this! Let me make some edits as needed, hopefully resolving this over the next week or so.

Some of the `predict` functionality is still in development, so if you find some predictions you'd like to do but can't, just let me know!

[2019-04-08 09:14] sijy opened #18 "Installation issue"
Thanks for this great tool. I was trying to install the package but failed both for Mac and window. I first installed Biostrings (v.2.50.2), ggtree (v.1.14.6), BioManager(v.1.30.4), devtools(v.2.0.1) and was ready to install phylofactor. But it only shows a popup saying 'builing R package from source requires installation of additional build tools.' And when i click yes, there's an error message "

[2019-04-08 13:23] reptalex commented on #18
Hi there!

It looks like you're experiencing a problem similar to the one encountered in the link below:

[https://github.com/rstudio/tensorflow/issues/133]

Let me know if that doesn't help! If this pops up more than once, I'll change the instructions on the readme & tutorial to streamline installation. Thanks for pointing this out!

[2019-04-11 16:04] reptalex commented on #17
Fixed - thanks for pointing this out!

[2019-04-11 16:04] #17 closed

[2019-04-11 16:04] #18 closed

[2019-05-07 18:19] earmingol opened #19 "Error when running phylofactor with 40+ factors"
When I was running an analysis with over 40 factors this error showed up, so the analysis was not completed. When I run it with less than 40 factors I had no errors.

My dataset has ~7k samples and 6.5k OTUs

Error in unserialize(node$con) : error reading from connection
Calls: PhyloFactor ... FUN -> recvData -> recvData.SOCKnode -> unserialize

The specs of where I run the analysis are:
16 cores

[2019-05-07 18:27] reptalex commented on #19
You're probably trying to use more RAM than you have on your machine.

In its current implementation, phylofactor requires sending a copy of your dataset to each core. If you make 16 cores (or 15, as recommended practice), then you need 16 copies of your dataset, and that could easily use all 8GB of RAM.

[2019-05-07 18:30] reptalex commented on #19
Let me know if memory isn't the problem, though. There are a lot of other forums that have touched on this question and both implicate RAM:

[here](https://www.google.com/search?q=Error+in+unserialize(node$con)+%3A+error+reading+from+connection&ie=&oe=)

[here](https://github.com/stan-dev/rstan/issues/243)

and others

[2019-05-08 23:18] earmingol commented on #19
Thanks @reptalex for your answer. It definitely looks like a RAM problem. I tried running it again with 16 cores and 126 GBs and this time it crashed with 99 factors. I am wondering if it is any way to store a sort of checkpoints and not lose the factors calculated until that point?

[2019-05-08 23:41] reptalex commented on #19
Hi @earmingol - glad to hear we traced it down.

What caused it to crash? I've been thinkin about adding in a tryCatch to stop some of the most common causes of crashes, however I'll need to hear a bit more about the common causes of crashes to make that update. Was it RAM, or something else?

[2019-05-09 00:07] earmingol commented on #19
This time I got the same error than before, but this time the analysis computed more factors, so it looks like a RAM problem I think.

[2019-05-09 00:50] reptalex commented on #19
Huh - if I had to take a guess, I'd guess that the RAM consumption is coming from the glm objects that accumulate.

Try adding the following inputs to PhyloFactor:

`PhyloFactor(...,y=FALSE, model=FALSE,small.output=TRUE,...)`

The idea here is that the first two inputs will help you [trim the fat off the glm](http://www.win-vector.com/blog/2014/05/trimming-the-fat-from-glm-models-in-r/) and the l

[2019-05-09 01:00] reptalex commented on #19
P.S. Some RAM accumulation is inevitable as the phylofactor object grows. To troubleshoot, I'd make a phylofactor object with fewer factors, and then `sapply(pf,object.size)` to find out which parts of the phylofactor object take up the most memory.

If it's the `pf$models`, as I guess above, one option is to customize your output by customizing the `choice.fcn` - see the example in `? PhyloFactor

[2019-05-09 21:59] earmingol commented on #19
Putting the first two inputs generates the following error:
`Error: $ operator is invalid for atomic vectors`

And considering only the last one seems to work ( I tried with few factors), but, as you mentioned, there is a problem when you try to generate all the post-analyses (e.g. pf.heatmap and pf.tree) because of some parts of the pf object are missing.

For example, for the pf.heatmap I got th

[2019-05-09 22:39] reptalex commented on #19
Got it - I made an edit to the package which should allow `y=FALSE` and `model=FALSE` inputs for glm (the previous version didn't allow `y=FALSE` because the function pglm had another input `y`).

Reinstall the package (you should only have to do `devtools::install_github('reptalex/phylofactor')`) and those arguments should work now and reduce your RAM consumption somewhat. However, note that anot

[2019-05-09 22:39] #19 closed

[2019-05-10 17:49] earmingol commented on #19
Thanks @reptalex ! this was very helpful 👍

[2019-05-20 18:32] jrede opened #20 "Unequal Number of Samples"
Hi @reptalex ,

I've really enjoyed using this package, but I was wondering how Phylofactor deals with uneven sampling. For example, if I had 50 samples from one community and 25 from another, should I attempt to normalize the number of samples before comparing them?  Thanks!

[2019-05-20 18:57] reptalex commented on #20
Hi there @jrede!

Glad to hear you like the package!

The functions PhyloFactor and gpf are wrappers computing desired objectives from generalized linear models. Under the default objectives ('F' or 'var'), PyloFactor's optional input arguments are piped straight into `glm(…)` - that's the easiest you can make changes such as weights, offsets, subsets, etc. Whatever your goodness of fit you want f

[2019-05-20 18:59] #20 closed

[2019-06-06 23:30] earmingol opened #21 "Predictions using new data"
Hi @reptalex ,

I have a new issue related with predicting with new data:

First, I created this object:
[code]

After running phylofactor and generating the object "pf_PhyloFactor" (in this case, from using an OTU table named train_OTUs), I can perform predictions without problems if I use this command:
[code]
In this case, I get predictions based on the data used for generating pf_PhyloFactor (i

[2019-06-07 18:06] reptalex commented on #21
Hi @earmingol - thanks for finding this and pointing it out!

I'll take a closer look, but I'm 95% sure I intended the prediction functionality for `PhyloFactor` output to only build a data matrix (i.e. `Data~PHENOTYPE`), something I forgot to specify in the help file.

The risk of burying predictions of `PHENOTYPE` under the hood of `PhyloFactor` is that PhyloFactor can produce up to `D-1` factor

[2019-06-07 18:12] reptalex commented on #21
Alternatively, if you want to see what factor `k` predicts, you can do

`predict(pf$models[[k]],...)`

[2019-06-07 19:21] earmingol commented on #21
Thanks @reptalex ! This was very useful :)

I will try the approach of computing X and generating a model from that.

[2019-06-07 19:21] #21 closed

[2019-06-10 18:29] earmingol commented on #21
An update. I tried the approach of using:

[code]

And then
[code]

To finally plug the new data and execute:
[code]
Where X and Y are the MetaData for the train and test (new_data) data

And it worked without issues!

Thanks @reptalex !

[2019-06-10 18:51] reptalex commented on #21
Glad to hear it worked well for ya!

Also, note that if your goal is to predict phenotype, there is some pretty wicked functionality available to you through nonlinear models. You can do phylofactorization via a generalized additive model (`method='gam'` and a formula like `Phenotype~s(Data)`), allowing you to also find lineages whose intermediate abundance is predictive of phenotype. Then, you ca

[2019-06-12 21:53] jrede opened #22 "Error in GLMs[[winner]] : attempt to select less than one element in get1index"
Hey @reptalex ,

I keep getting the above error with 2 different 16S rarefied data sets (no error with raw data) and hoped you could help me understand why.

pf <- PhyloFactor(table,tree,timestamp,choice='F',stop.fcn='KS',stop.early=TRUE)

Thanks for any help!

[2019-06-12 22:10] reptalex commented on #22
The problem likely stems from your input variable `timestamp`. If that's a data frame with a column, say `time`, then you need to change your `frmla=Data~time` or something like that. Somehow, your glms are all returning NA such that there is no "winner".

If this pops up again, I can try to build a more informative error message, but I believe the tutorial and `? PhyloFactor` illustrate the sort

[2019-06-12 22:37] jrede commented on #22
Hi @reptalex,

Thanks for getting back so quickly! The timestamp variable is from a Phyloseq object (entered as physeq@sam_data$timestamp) and it runs to completion when I use the raw data (not rarefied), so I don't think its the metadata variable. The error also isn't immediate, popping up after factor 107 with my first data set. Thanks again for your help!

[2019-06-12 23:13] reptalex commented on #22
I'm not sure - it's possible the rarefication produces a row with all zeros, or all zeros within some categorical variable (e.g. within some timestamp) - that can commonly lead to errors that are only present at later factors. Somehow, the regression is poorly posed so that all of the objectives considered at factor 107 return NA, hence 'winner' is a null vector (the error GLMs[[winner]] comes fro

[2019-06-13 10:27] earmingol commented on #21
Wow, your help has definitely been comprehensive! Thanks again @reptalex !

With this, I was able to train a random forest model after using phylofactor :)

Soon I will create a repo with some analyses including an iris-like dataset for microbiomes as example and post it here. It may be useful for other people that want to use this tool :)

[2019-06-13 17:58] reptalex commented on #21
Glad to hear it!

One thing to note is that a random forest with your CLR-transformed, full dataset will have a high probability of overperforming a random forest with a phylofactor-derived low-rank ILR-transformed dataset. The reason for this is that the CLR-transformed data of D species fall on a D-1 dimensional hyperplane, and all phylofactorization is doing is finding an alternative basis for

[2019-06-13 22:27] jrede commented on #22
I appreciate all your help @reptalex . Oddly, none of my omega values were NA, but for whatever reason I was able to complete the analysis by rarefying to a different sampling depth. It makes me wonder whether there's still an underlying issue with my data, but its not something I have the technical expertise to investigate. Thanks again.

[2019-06-14 06:18] earmingol commented on #21
Thanks again!! @reptalex

That is definitely something to implement in future analyses :)

Here l put some examples of using phylofactor with a "toy" dataset :)
https://github.com/earmingol/Microbiome-Factorization

I hope this could be useful for other people.

[2019-06-19 11:49] yanxianl opened #23 "How to deal with nested data?"
Hi Alex,

Phylofactor is a great tool to incorporate phylogeny into the analysis of amplicon data in a CoDA manner.

I want to apply Phylofactor to identify balances that distinguish the gut microbiota of wild tilapia to farmed tilapia. The farmed fish were taken from different ponds and the wild fish were taken from different locations in a lake. Thus, the experiment is a nested design. Is there

[2019-06-19 14:01] reptalex commented on #23
Hi Yanxian -

Check out [the ecological monograph](https://esajournals.onlinelibrary.wiley.com/doi/full/10.1002/ecm.1353), which shows how the general algorithm is structured. Both `PhyloFactor` and `gpf` allow an extremely flexible interface with the data, allowing you to control for fixed/random effects (e.g. 'site') and phylofactor based on other covariates (e.g. 'wild/farmed'). The help files

[2019-06-19 14:19] yanxianl commented on #23
Hi Alex,

I actually did read the _esa_ paper and look at the help files for the `PhyloFactor` and `gpf` but did not find explicit explanations on how to make customized objective functions to deal with random effects. I'll dig into the details and see how to do that.

Good to know that you also provide statistical consultancy.

Thanks for your suggestion.

Best,
Yanxian

[2019-06-19 14:34] reptalex commented on #23
The main detail to keep in mind is that phylofactorization maximizes an objective at each iteration. Define an objective using a fixed/random effects model with the function of your choice (the custom objectives show how to interface with the balances or the modified data table containing the `phylo` factor), and you're set!

[2019-06-19 14:34] #23 closed

[2019-06-19 14:34] #22 closed

[2019-08-27 20:28] nataliagaeta29 opened #24 "glm is not working"
Hello
I was following the tutorial, and the R keeps saying that "no glm was found".
I attached print screens from either "my tutorial results" and the "web site results", below, regarding to the construction of the PF for factor 1. The "glm" does not appear in my results and, then, I cannot run any function that requires the glm.
Could you please help me with this issue?

Thanks!

**My results**
!

[2019-08-27 20:34] reptalex commented on #24
Hi there!

It's unclear where you're hitting the error, but since making the tutorial I've changed the name of "glms" to "models" (as "models" can now also contain gams and a whole suite of other things with a common interface with `predict`). So, `PF$models[[1]]` will get you your glms!

[2019-08-29 15:06] reptalex commented on #24
P.S. I've double checked, and I can't seem to find any mention of the old `pf$glms` in the new tutorial (you might be using the tutorial from the PeerJ paper?).

The updated tutorial is available on the ["Resources" tab of my personal webpage - here](https://www.alexwashburne.com/blog).

[2019-08-29 15:07] #24 closed

[2019-08-29 15:18] nataliagaeta29 commented on #24
Hi!

Yeah, I was following the PeerJ paper.
But since I changed glm to models, it worked!

Thank you so much for your attention and help.

Regards

Natalia

Get Outlook for Android<https://aka.ms/ghei36>

From: Alex Washburne
Sent: Thursday, August 29, 11:07
Subject: Re: [reptalex/phylofactor] glm is not working (#24)
To: reptalex/phylofactor
Cc: nataliagaeta29, Author

P.S. I've double checked, a

[2019-11-25 02:10] Jigyasa3 opened #25 "log-ratios are negative"
Hey @reptalex

I am comparing the log-ratios of two genes from metagenomes. And I have some values that are negative as gene in the denominator can be more abundant than the one in the numerator.

When I run these log-ratios in PhyloFactor glm analysis, I get an error-
#my code-

#error-
some tips in tree are not found in dataset - output PF$tree will contain a trimmed treedrop all tips of the tre

[2019-11-25 02:48] reptalex commented on #25
Set `transform.fcn=I`

Also, check the tutorial - the default `transform.fcn=log`, thus it log-transforms your input `Data` prior to projection onto contrast basis elements. If you've already log-transformed your data (whether or not they're centered log ratios), then taking the log again will be troublesome.

Best,
Alex

[2019-11-25 04:23] Jigyasa3 commented on #25
Hey @reptalex

Thanks for replying! I have made the change you suggested.
But I am running into the error. I can't find anything about it on the help page and tutorial.
The tutorial I am following- <https://docs.wixstatic.com/ugd/0119a1_099ae20df8424af9a38585dcebc0d45a.pdf>. There is also no information about "transform.fcn=I" specifically except for in the "Amalgamation" contrast function.

As I

[2019-11-25 14:32] reptalex commented on #25
Your tree tip labels may not align with the rownames of your dataset, causing the tree to be trimmed to nothing when phylofactor filters out tips not in rownames(Data)

[2019-11-25 14:33] #25 closed

[2020-01-06 22:00] biggs-biggsby opened #26 "cmultrepl and Zeros"
Hi @reptalex !

I started using cmultrepl (CZM method) to deal with zeros based Gregory Gloor's compositional biplot tutorial, and have kept using it with other packages to stay consistent. I downloaded your r scripts from the first phylofactor paper and noticed you cautioned against it because "it can lead to negative-valued compositions." I was hoping you could expand a little more on what this

[2020-01-06 22:34] biggs-biggsby opened #27 "CLR transformed Abundances"
Hi @reptalex!

Sorry to hit you with two questions as once. I have several identical taxa that are partitioned in different factors. Instead of showing multiple plots for the same taxon, I was hoping to aggregate the data so I can show it in a single plot, but I'm not sure my approach is appropriate. Essentially, I took same-taxon sOTUs that phylofactor identified as changing in the same direction

[2020-01-06 22:57] reptalex commented on #26
If you're happy with your method of zero replacement and have all strictly positive values in your data matrix, you're welcome to plow ahead with the default phylofactorization without worrying about the possibility of negative values. Unfortunately I don't have the bandwidth to discuss compositional data analysis here, but happy to help with any package bugs if you encounter them!

[2020-01-06 22:57] #26 closed

[2020-01-06 23:03] biggs-biggsby commented on #26
Okay! So by negative valued compositions you mean any values that are negative. Awesome! Just checked and all of my counts are positive. Thanks for the speedy reply!

[2020-01-06 23:14] reptalex commented on #27
I'm not sure I understand your question. You're welcome to aggregate any set of species and compare them to any other single or aggregated set of species as its reference frame. Phylofactorization can reduce false positive rates by a sequentially rejective procedure. In the event of one taxon with an extremely large effect which causes the whole center of mass of microbes to have an effect, most s

[2020-01-06 23:14] #27 closed

[2020-01-06 23:59] reptalex commented on #27
P.S. Here's the paper on guiding longitudinal sampling of IBD cohorts

https://gut.bmj.com/content/67/9/1743

Outside of the paper, we found that long at the isometric log-ratio of the gammaproteobacterial lineage to the lachnospiraceae lineage (having two factors with opposing association with disease become each others' reference frame) was a reasonably good predictor using only one degree of fr

[2020-01-07 18:20] biggs-biggsby commented on #27
Thanks for being so helpful! I see what you're saying with the species A,B, and C example. I wasn't sure how to reconcile the different reference groups with combining factors initially, which is why I started using the geometric mean instead (I wasn't aware of all the post-hoc things I could do). But from what I hear from you, one or more sOTUs may have a large, but arbitrary impact on the geomet

[2020-01-07 18:41] reptalex commented on #27
One point of clarity is that "geometric means" are ubiquitous - they're in ILR transforms (log ratios of geometric means of two groups) and CLR transforms (the geometric mean of the community).

Plotting your Clostridia sOTU clr-abundances is fine. Definitely steer clear of standard statistical measure related to the objective function you used for phylofactorization, as the Clostridia sOTUs will

[2020-01-14 16:12] biggs-biggsby commented on #27
Just as an update, the BalanceContrast function was exactly what I needed! Thanks!

[2020-04-21 07:42] SilasK opened #28 "summary of Phylofactor with method='max.var' throws error."
Just to let you know that I get the following error.

It works when I use the PhyCA function.

[code]

[code]

I don't think the warnings are relevant:

[code]

[2020-04-21 12:41] SilasK opened #29 "Error when defining colors for pf.tree"
I assume this is also a small internal error

[code]

[2020-04-21 13:05] SilasK opened #30 "error in pf.ILRprojection"
Is this deprecated?

[code]

[2020-04-21 20:36] reptalex commented on #28
Huh - that's weird, thanks for pointing it out!

Seems to be an issue with printing such objects. For an immediate fix, I think you can set `pf$phylofactor.fcn <- PhyCA`, and I'll work on debugging. Thanks!

[2020-04-21 20:38] reptalex commented on #29
Fixed - thanks! A work-around can use `color.fcn`, but I'll push the revised version shortly.

[2020-04-21 20:51] reptalex commented on #30
amalg.ILR was - has been replaced with `BalanceContrast`, and I've fixed the ILR projection function accordingly! Should be good to go now.

[2020-04-21 20:51] #30 closed

[2020-04-21 20:53] reptalex commented on #28
Fixed! Should work now with using `PhyloFactor` for `method=max.var`. The problem was in the `print.phylofactor` function - let me know if anything else pops up!

[2020-04-21 20:53] #28 closed

[2020-04-21 20:54] reptalex commented on #29
Pushed - you can now input your own colors (will throw a right now probably ambiguous error if input `colors` aren't of length equal to `pf$nfactors`

[2020-04-21 20:54] #29 closed

[2020-04-22 13:30] SilasK commented on #28
Thank you, this was really fast.
The summary works, however, I can't get the ilr values from the factor summary for phyca and phylofactor with method='max.var'

[code]

[2020-04-22 13:41] reptalex commented on #28
I believe that is contained in `FactorSummary$data$Data`. Is there a tutorial/help file that suggests it's in `.$ilr`?

[2020-04-22 13:52] SilasK commented on #28
For normal phylofactor [this old tutorial](https://dfzljdn9uc3pi.cloudfront.net/2017/2969/1/PhyloFactor_tutorial.html) recommend to use Factor summary$ilr

For pyca I haven't found much information in the tutorials. So I'm trying to find ways to plot phyca results.

Also in the helpf of ?PhyCa there is probably some small error, because it plots twice the same figure

[code]

[2020-04-22 14:01] SilasK commented on #28
When using max.var I don't get the FactorSumary$data attribute.

I only get $group1$otudata

[2020-04-22 14:14] reptalex commented on #28
Ah!

try using the new function,

`FactorSummary <- summary(pf,taxonomy,factor=1)`

It has the `.$data` element, and also shows how various taxonomic groups (aggregated by their shortest unique taxonomic prefix distinguishing them from taxa in other the contrasted group) contribute to the signal. It has a nice print function, too, so you can just type

`FactorSummary`

and see a lot of info.

For

[2020-04-22 14:15] SilasK commented on #29
Thank you very much.

My goal is to emulate the output of Lefse.
![image](https://user-images.githubusercontent.com/7523034/79992014-3ae01d80-84b3-11ea-81eb-c013d06dec6f.png)
I think the output of phylofactor are more robust than the LDA score.

For this I would like to summarize the effect of each factor to one value, e.g. the difference between the group mean.

I managed now to plot the factors

[2020-04-22 14:31] reptalex commented on #29
I don't fully understand the underlying data & questions, but I think we can make progress without that -

You have a lot of options, and the choice is yours depending on what you're hoping to illustrate. Plotting the raw data with factors highlighted could let the data visualize itself, with clades showing that phylofactor has partitioned groups appropriately. You can also use the `pf.predict` ou

[2020-05-13 12:24] SilasK opened #31 "Comparing tow microbiomes"
Hey @reptalex,

I have again a special application for phylofactor.
My goal is to compare two microbiomes from two different host organisms. I have count data for both microbiomes.

The problem, there are almost no shared species, only at the genus level, the two microbiomes are comparable.

I assume it is difficult to work with missing data in philofactor and filling in 0 for all the missing spec

[2020-05-13 12:40] SilasK opened #32 "pf.sumary doesn't work on twoSampleFactor"
I used twoSampleFactor to construct a partition and would like to see the summary per factor.

Is there a reason why this doesn't work.

[code]

[2020-05-13 13:56] reptalex commented on #31
Lots of options for you!

First, there’s the `gpf` function that allows formal count analyses. Second, that function has an input argument min.group.size you can set to 2 if you want to exclude tips. You can do this with a taxonomy tree and it’ll omit species but allow genus, family, class, etc. More generally, you can input your own objective function which will give you access to the resulting d

[2020-05-13 13:57] reptalex commented on #32
Does `summary(pf)` with appropriate input taxonomy, factor etc.? `pf.summary` may be deprecated as it’s what I used before learning about S3 tricks

[2020-05-13 15:06] SilasK commented on #32
unfortunately not:
[code]

thanks for the quick reply.

[2020-05-13 15:13] reptalex commented on #32
Thanks for finding that! I'll see if I can put that together sometime. In the meantime, you can use `pf.taxa` to get taxonomic compositions of particular factors and you can use the output `pf$model.fcn` to compute tests for a desired group (in `summary.phylofactor`, I grepl all species by taxonomic names listed in `pf.taxa` and to get relative imortance of taxonomic groups, for every taxonomic id

[2020-06-29 15:40] hwfes opened #33 "phylofactor will not install using R studio on Mac"
Dear reptalex/Alex:

Do you know what tools are necessary to build/install phylofactor on a Mac?

Intallation of phylofactor fails no matter how I try to perform it.  You can see below that the error involves lack of tools necessary to compile the package.  I am running R version 4.0.1 and have installed the latest versions of Xcode and gfortran.  Calling pkgbuild to diagnose the problem just brin

[2020-06-29 16:06] reptalex commented on #33
Did you try -

[code]

?

[2020-06-29 16:06] #31 closed

[2020-06-29 16:15] hwfes commented on #33
Yes, but I tried it again anyway and still got error message "Could not find tools necessary to compile a package."

I am beginning to think it is some MacOS toolchain difficulty and found the following site;

https://thecoatlessprofessor.com/programming/cpp/r-compiler-tools-for-rcpp-on-macos/

However, I do not want to do what is recommended at this site until I am sure about my current deduction

[2020-06-29 16:20] reptalex commented on #33
That's understandable, and I'm sorry to hear that. Rcpp is a very common package in R - if I understand correctly, your issue will likely extend well beyond phylofactor. In the same way you'll need a machine that can support R, you'll need a machine that supports Rcpp to run this package (many of the underlying stats & other packages are dramatically sped-up by calling scripts in C++ through Rcpp)

[2020-06-29 16:29] reptalex commented on #32
Hi @SilasK!

Thank you for your patience here - it's been a hectic month. I've updated the summary.phylofactor function to fix this bug, and it works on my limited test of twoSampleFactor objects - let me know if you have any other issues!

Best,
Alex

[2020-06-29 16:29] #32 closed

[2020-06-29 16:29] #33 closed

[2020-11-18 14:41] davidwrandall opened #34 "Getting eigenvalues for ILR ordination"
Hi, thanks so much for creating PhyloFactor - it's a great package which has helped enormously with my data analysis!

I wonder if I could ask whether it is possible to retrieve the Eigenvalues for ILR ordinations created using the pf.ILRprojection command? Eg to create a scree plot or add to the axes of an ordination plot?

Many thanks,

David

[2020-11-18 15:04] reptalex commented on #34
Hi David!

Glad you’re enjoying the package!

A few semantic things - I don’t believe there are any eigenvalues involved in ILR ordination - rather, this is just a projection of the data onto a low-dimensional subspace spanned by the contrast vectors in `pf$basis`. Hence: you have the vectors in the basis and their projections, and the ILR ordination is produced by

`t(pf$basis[,factors]) %*% log(

[2020-11-18 15:06] davidwrandall commented on #34
Okay - thanks - that's very helpful. And thanks for the very speedy response.

David
________________________________
From: Alex Washburne <notifications@github.com>
Sent: 18 November 2020 15:04
To: reptalex/phylofactor <phylofactor@noreply.github.com>
Cc: David Randall <d.randall@qmul.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [reptalex/phylofactor] Getting eigenvalues for ILR ordina

[2020-11-19 22:59] davidwrandall commented on #34
Hi Alex,

One other question (I hope you don't mind) - does the PhyloFactor package have any built-in multiple hypothesis testing? I'm trying to understand whether or not this would be appropriate, and how it might work in practice, in the context of phylogenetic factorisation?

With much thanks,

David
________________________________
From: Alex Washburne <notifications@github.com>
Sent: 18 Novem

[2020-11-19 23:18] reptalex commented on #34
Hey David!

TLDR: no.

PhyloFactor does, however, report the uncorrected P-values. If you have stop.early=T as your input, then at every iteration there will be a Kolmogorov-Smirnov test of the uniformity of those P-values and, if they aren't different from uniform (in a one-tailed test looking for hockey-sticked P-value distributions), the algorithm will stop. In the original PeerJ article and I

[2020-11-20 10:03] davidwrandall commented on #34
Thanks, as previously, for such a helpful reply - it really is very much appreciated.

I do hope you are able to get the funding you need to take this further. I will certainly cite your paper if the project I am working on ever gets published. Do let me know if there is anything else I can do to ensure you get the recognition you deserve for your help, which goes well beyond the call of duty!

Da

[2020-11-20 16:57] reptalex commented on #34
Happy to help! Science is fun and phylofactorization has been a cool way to explore some exciting math & biology problems. Good luck with your paper, and I hope you find some cool lineages with this tool!

-Alex

[2021-01-06 07:46] chrismitbiz opened #35 "pf.tree error"
A big thanks also from me for making this package available! I am currently analysing data (my second paper which will reference your awesome package ;0) and have been using the **pf.tree** function frequently when suddenly it spit out an unexpected error. It seems the mapping of factors does not link to nodes anymore. Details and session info below.

I am not sure if this is a ggtree or phylofact

[2021-01-06 17:26] reptalex commented on #35
Hi Chris!

Thanks for bringing this to my attention! This seems like an issue in ggtree. Hopefully this is an easy fix - let me see if I can get to the bottom of it. It may take a little while as I'm no longer in academia, but don't hesitate to let me know if you have any deadlines; would love to ensure you have a slick looking `pf.tree` by when you need it!

[2021-01-07 10:04] chris-krohn commented on #35
Thanks Alex,
no worries and no deadline (its academia after all). But let us know once the `pf.tree` comes back to life. Thanks again!

[2021-01-10 02:49] chris-krohn commented on #35
Hi again!
I think the input syntax for `ggtree::geom_hilight()` may have changed with the latest ggtree version. For example, the node 3021 would need to be specified with  `ggtree::geom_hilight(node = 3021)`. Currently the 'phylofactor::pf.tree' function attempts to call this with `ggtree::geom_hilight(3021)`. I have downloaded the code from your github repo and managed to get this function going

[2021-03-31 09:09] bvalot commented on #35
Same error here.

[2021-03-31 09:18] bvalot commented on #35
Can you push the correction proposed by chrismitbiz

[2021-04-01 15:58] #34 closed

[2021-04-01 15:59] reptalex commented on #35
Fixed - thanks for finding and pointing this out, @chrismitbiz!!

[2021-04-01 15:59] #35 closed

[2021-07-08 06:00] chordx1206 opened #36 "parameter "glms""
Teacher, I can't find the parameter "glms" of Phylofactor. According to the tutorial, when I run this parameter, it will be null. How can I check the regression of each factor？

[2021-07-08 06:06] #36 closed

[2021-07-08 06:09] chordx1206 commented on #36
thanks, I have found the answer

[2021-07-28 09:51] ATCHON opened #37 "Phylofactorization with random variables"
Hello,
I have an OTU count table. I want performed phylofactorization on a two-level independent variable Control and Sick(AIA) that I extracted from my metadata. However, I have an another  structures of my data by age of the subject (4, 11 and 28)  as random variable that I want to take into account.
How can I construct the analysis to do that ?

![Variables](https://user-images.githubuserconten

[2021-07-28 12:37] reptalex commented on #37
Hi there!

See ? PhyloFactor where I construct a customized objective function - you can create your own objective function with any model you want, so long as that never returns and error or errors are handled with tryCatch().

Customized objective functions take an ILR projection of the data corresponding to a given edge, y, your meta data, X, and a logical PF.output.

when PF.output=FALSE, the

[2021-07-29 12:20] ATCHON commented on #37
Hello,

Thank you for your help. I found an example application for the construction of customized objective functions in the R documentation (https://rdrr.io/github/reptalex/phylofactor/man/PhyloFactor.html).

Sincerely yours.

[2021-07-29 15:28] reptalex commented on #37
Glad we could get you set up - enjoy the analyses!

[2021-07-29 15:28] #37 closed

[2022-07-01 16:56] biggs-biggsby opened #38 "Multiple Coefficients?"
Hi @reptalex,

I am using Phylofactor to look at 16s balances associated with viral loads. I am using a phyloseq object to do this, am my code looks something similar to this -

pf <- PhyloFactor(phyloseq@otu_table, phyloseq@phy_tree, phyloseq@sam_data$ViralLoad)

When I look at the model, though, there is a coefficient for each value in the viral load metadata. For one metadata category, shouldn'

[2022-07-01 19:25] biggs-biggsby commented on #38
I may have come up with a solution. I think the problem might have been the data type for my metadata. Using as.numeric() on viralLoad seems to have corrected the issue.

[2022-07-01 19:31] reptalex commented on #38
Hi there!

Great to hear from you and that sounds like an exciting project. I think that is exactly right: if your meta-data contain only "ViralLoad" then my first question is whether ViralLoad was numeric or (more likely) a factor. Your second responses suggests it was a factor, in which case converting it to a numeric should fix it.

I can't wait to read about what you find!

Best,
Alex

[2022-07-01 19:31] #38 closed

[2022-07-01 19:35] reptalex commented on #38
P.S. You may want to select an input `nfactors` argument, otherwise that may take a while and find a lot of factors that are not significant.

Happy phylofactoring!

[2022-07-01 19:38] reptalex commented on #38
P.P.S. Not knowing your full study design, but inferring that you're studying some association between viral load on another (presumably microbial) community ecological datasets, you may have important confounds, such as "age" (well known to affect the microbiome), and through customized objective functions (see ? Phylofactor) phylofactorization can still find which lineages are most significantly

[2022-09-26 23:35] chrismitbiz opened #39 "Choice between var and F"
Hi Alex,
I really enjoy your package and even created a tutorial for students or anyone interested. https://chrismitbiz.github.io/ABlab-workflows/phylofactor.html#phylofactor

This not an issue but more of a method question. My stat background is limited, although I understand the concepts and have done a lot of regression modelling.  One of the questions I get sometimes, is how to decide between

[2022-09-27 03:54] reptalex commented on #39
Hey Chris!

I'm touched to read your cool tutorial, and loved the figures where you overlaid taxonomies on the tree - so cool!

I tried to drop an image onto this comment box (fingers crossed it works!).

Big picture, choice="var" chooses lineages where the regression explains more variance in the data, where as the F-statistic in choice="F" picks the lineage with the highest ratio of explained/un

[2022-09-27 04:47] chris-krohn commented on #39
Thanks Alex.
Glad you like it :)

And thanks for the explanation and image. That really helped.

[2022-09-27 04:47] #39 closed

[2022-10-13 15:59] cahuparo opened #40 "Application questions?"